<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиенты</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <h1>Список сотрудников</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Password}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <h2>Добавить нового сотрудника</h2>
    <form method="POST" action="/add-emp">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Добавить сотрудника</button>
    </form>
</body>
</html>
