<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Абонементы</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <h1>Список абонементов</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Срок действия</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Price}}</td>
                <td>{{.Period}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <h2>Добавить абонемент</h2>
    <form method="POST" action="/add-sub">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>

        <label for="price">Цена:</label>
        <input type="text" id="price" name="price" required>

        <label for="period">Период:</label>
        <input type="text" id="period" name="period" required>

        <button type="submit">Добавить клиента</button>
    </form>
</body>
</html>
